<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <title>Document</title> -->
</head>
<body class="bg-zinc-900 text-white">
    
    <div class="nav m-10">
        <a class="text-blue-500 text-3xl" href="/">Create User</a>
    </div>
     
    <div class="p-10 flex gap-3 flex-wrap" id="usersContainer">
        <% users.forEach(user => { %>
            <div class="user w-72 p-4 bg-zinc-800 rounded-lg m-4">
                <div class="w-full h-52 bg-zinc-700 rounded-lg">
                    <img src="<%= user.image %>" alt="User Image" class="w-full h-full object-cover rounded-lg">
                </div>
                <h3 class="mt-3 text-1xl tracking-tighter"><%= user.name %></h3>
                <h5 class="text-zinc-500"><%= user.email %></h5>
                <div class="flex gap-3 mt-10">
                    <a class="text-white" href="/edit-user/<%= user.id %>">Edit User</a>
                    <a class="text-red-500" href="/delete-user/<%= user._id %>">Delete User</a>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>